@tailwind base;
@tailwind components;
@tailwind utilities;
.react-datepicker__navigation {
  display: none !important;
}
.react-datepicker__header {
  background-color: initial !important;
  border-bottom: 0 !important;
  width: 100%;
}

.react-datepicker__month-container{
  float:initial;
}
.react-datepicker{
  width: 100%;
}
.react-datepicker__week{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.react-datepicker__day-names{
  display: flex;
  justify-content: space-between;
}
.react-datepicker__month-container{
  width: 100%;
}
.react-datepicker__day--selected{
background-color: #3B65FF;
}